<div class="row" id="productsPage">
	<div class="col-md-4">
		<input type="text" ng-model="filter" placeholder="filter...">
		<h3>Add a new Product</h3>
		<form ng-submit="addProduct()">
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Name" ng-model="$parent.newProduct.name">
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Image (url)" ng-model="$parent.newProduct.imageUrl">
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Description" ng-model="$parent.newProduct.description">
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Quantity" ng-model="$parent.newProduct.quantity">
		  </div>
		  <button type="submit" class="btn btn-default">Create</button>
		</form>
	</div>
	<div class="col-md-8">
		<div id="allProducts" ng-repeat="product in products | filter:filter">
			<p>{{product.name}}</p>
  			<p><span class="badge">{{product.quantity}}</span> left</p>
			<img ng-src="{{product.imageUrl}}">
			<button type="button" class="btn btn-primary" ng-click="deleteProduct(product._id)">Delete</button>
		</div>
	</div>
</div>